/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap);

/* Navigation */

#header {
	background-color: #31151a;
	border: 0.5vw #fcd759 solid;
	margin: 0;
	position: fixed;
	top: 0;
	width: 99vw;
	height: 12vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#navContainer {
	display: flex;
	flex-direction: row;
	width: 75vw;
	height: 12vh;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#navContainer a {
	text-decoration: none;
	font-size: 110%;
}

.nameHeader {
	size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	color: #fcd759;
	letter-spacing: 3px;
}

#nav a {
	border-right-color: #fcd759;
	border-right-style: inset;
	border-right-width: 0.2vw;
	color: #fcd759;
	display: inline;
	font-weight: bold;
	font-size: 0.8vw;
	font-family: Arial;
	padding: 0 1.5vw;
	letter-spacing: 0.2vw;
	vertical-align: middle;
}

/* Social Icons */

.iconsHolder {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10vw;
	height: 80vh;
	float: left;
}

#socialicons {
	position: fixed;
	width: 5vw;
	z-index: 3;
	display: flex;
	flex-direction: column;
	height: 80vh;
	justify-content: space-evenly;
	align-items: center;
}

#socialicons a div {
	color: #fcd759;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.rounded-link {
	display: flex;
	align-items: center;
	text-align: center;
	vertical-align: middle;
}

.rounded-link img {
	width: 4vw;
	border-radius: 0.5vw;
}

.lastchild {
	border-right: none 0vw !important;
}

/* Reusable components*/

body {
	background-color: #31151a;
	background-repeat: repeat;
	margin: 0;
	overflow: hidden;
	font-family: 'Tenali Ramakrishna', sans-serif;
}

.sidebarContainer hr {
	width: 23vw;
}

.column {
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.columnTwo {
	justify-content: space-evenly;
	margin: auto;
}

.zoom {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.block {
	display: block;
}

.zoom:hover {
	transform: scale(2);
	margin-left: 20vw;
}

.vVideo video {
	height: 100vh;
	width: 20vw;
}

.author {
	font-style: italic;
}

// Simple 

.centre {
	text-align: center;
}

/* #region Containers */

.main {
	overflow: hidden;
	margin-top: 13vh;
}

.container {
	background-color: #31151a;
	color: #fcd759;
	display: inline-block;
	height: 85vh;
	z-index: 1;
	overflow: scroll;
	border: 0.5vw #fcd759 solid;
	position: absolute;
	line-height: 20pt;
	scrollbar-width: none;
}
	
.container h1 {
	text-align: center;
}

.container a {
	color: #fffdd0;
	font-weight: bold;
	text-decoration: none;
}

.mainContainer {
	display: flex;
	float: left;
	padding: 1vw 1.5vw;
	border-left: 0.5vw #fcd759 solid;
	border-right: 0.5vw #fcd759 solid;
	min-height: 100vw;
	align-items: center;
	flex-direction: column;
}


.largeContainer {
	width: 85vw;
	display: inline-block;
	float: left;
	padding: 1vw 1.5vw;
	border-left: 0.5vw #fcd759 solid;
	border-right: 0.5vw #fcd759 solid;
	min-height: 100vw;
}

.sidebarContainer {
	display: flex;
	flex-direction: column;
	width: 25vw;
	justify-content: center;
	align-items: center;
	line-height: 1.5;
}

.sidebarContainer .imgbox {
	width: 20vw;
	margin: 2vw;
}

.sidebarContainer .musicVideo {
	padding: 1vh 0;
}

.inline {
	display: inline-block;
}

::-webkit-scrollbar {
	display: none;
}

/* Home */

#albumDetails {
	height: 25vw;
	display: flex;
	flex-direction: row;
}

.newAlbum {
	margin-bottom: 5%;
	text-align: center;
}

#quotes {
	font-size: 120%;
}

.newAlbum img {
	height: 100%;
	width: 100%;
}

.albumImage {
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
}

#albumText {
	vertical-align: top;
	margin-left: auto;
	padding: 2%;
}

#albumText p {
	margin: 1vw;
}

#albumVideos {
	display: flex;
	flex-direction: column;
	padding: 0vh 2vw;
	justify-content: center;
}

#albumVideos h3 {
	width: 80vw;
}

.soiImage img {
	width: 23vw;
	margin: 0 auto;
}

.imgbox img {
	max-height: 100%;
	max-width: 100%;
}

#theysay p em {
	font-size: 80%;
}

/* News */

.news {
	font-size: 130%;
	justify-content: center;
}

/* Guest Vocalist */

.gvColumn {
	display: inline-block;
	width: 25vw;
	padding: .5vw;
	vertical-align: top;
	text-align: left;
}

.gvBox {
	height: auto;
	width: 92%;
	margin-top: 8.5%;
	display: inline-block;
	padding: 3%;
	margin: 2%;
	color: #fcd759;
	vertical-align: middle;
	border: solid 3px #fcd759;
}

.gvBox iframe {
	margin: auto;
	display: block;
}

.gvBox a {
	color: #fffdd0;
}

.gvBox iframe {
	width: 80%;
	overflow: hidden;
}

.gvTitle {
	text-align: center;
}
	
/* Model */

.year {
	height: 100%;
	width: 100%;
}

.portfolioBox {
	width: 40%;
	background-color: rgba(242,242,242, 1);
	padding: 1%;
	margin: 1% 3%;
	display: inline-block;
	border-radius: 1%;
	color: #331;
	vertical-align: top;
	border: solid 3px #fcd759;
}

.portfolioBox iframe {
	width: 100%;
	margin: 2%;
}

.portfolioBox img {
	width: 100%;
	margin: 2%;
}

#modelcontent {
	padding: 1% 5%;
	display: inline-block;
}

#modelportfolio {
	padding: 0 3%;
}

#portfolioNavigation {
	margin: 2% 0;
	border: solid 3px #fcd759;
	padding: 2%;
	color: #331;
}

#portfolioNavigation a {
	color: #fcd759;
	margin: 5%;
}

#portfolioNavigation h1 {
	display: inline-block;
}

#uglyvideo {
	padding: 1%;
	display: block;
	margin: auto;
}

#uglyimg {
	text-align: center;
}

/* Gallery */

.imageOptions {
	display: inline-block;
}

.imageOptions a {
	color: #f2f2f2;
	width: 100%;
	margin: auto;
	padding: 5%;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}

#imgNavigation {
	margin: 0 10%;
	display: flex;
}

#imageDetails {
	position: absolute;
}

#imgControl {
	z-index: 2;
	height: auto;
	position: relative;
	top: -5%;
}

#imageBox {
	position: absolute;
	height: auto;
}

.galCol {
	width: 33%;
	display: inline-block;
	margin: auto;
	vertical-align: top;
}

.galleryimg {
	vertical-align: top;
	align-content: center;
	display: inline-block;
}

.galleryimg img{
	vertical-align: top;
	max-width: 100%;
}

.hideFullImage {
	visibility: hidden;
}

.imgholder {
	border: 10px solid #fcd759;
	width: 70%;
	height: 70%;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	background-color: #fffdd0;
}

#imageBacking {
	background-color: rgba(0,0,0,0.8);
	color: #331;
	width: 100%;
	position: absolute;
	z-index: 10;
	margin: 0;
}

#imgDetails {
	margin: auto;
	width: 75%;
}

#imgDetails img {
	display: inline-block;
	max-width: 90%;
	max-height: 400px;
}

#closeImage {
	display: inline-block;
	margin: auto;
	padding: 2%;
}

/* Dates */

#datesCalendar {
	margin: 5%;
	padding: 5%;
	width: 40%;
}

/* Blues Band */

#bluesbandleft {
	display: inline-block;
	width: 59%;
	font-size: 90%;
	text-align: center;
}

#bbText {
	text-align: left;
	padding: 0 4%;
	line-height: 20pt;
}

#bbImages {
	padding: 3%;	
}

#bbHeader {
	padding: 1%	2%;
	width: 40%;
	margin: 2% auto;
}

#bbImages {
	padding: 2%;
	display: flex;
	justify-content: space-between;
}

#bbImages img {
	width:45%;
	height:45%;
}

#bluesbandright h2 {
	text-align: center;
	margin: 0 auto;	
}

.bmColumn {
	width: 11vw;
	display: inline-block;
}

#theysay {
	display: inline-block;
	background-color: #31151a;
	padding: 3%;
}

.right iframe {
	width: 100%;
	vertical-align: center;
}

/* Press/Radio Sessions */

.musicVideo {
	display: inline-block;
	text-align: center;
}

.musicVideo p {
	margin: 0.2vw;
	color: #fffdd0;
}

#pressContainer {
	padding: 0 2.5vw;
}

.contentBox {
	display: flex;
	padding: 1vw;
	justify-content: center;
}

.contentBox .row {
	width: 30vw;
}

.contentBox img {
	width: 15vw;
}

.contentBoxText {
	padding: 0 2vw;
}


#bmReview {
	display: inline-block;
	text-align: center;
}

#bmReview .imgBox {
	display: inline-block;
	margin: auto;
	width: 30%;
	height: 35%;
	text-align: center;
	padding: 0 9%
}

#magText {
	padding-left: 5%;
	text-align: left;
}

#magText p {
	margin: 0;
}

.magPhoto {
	display: inline-block;
	max-width: 60%;
	max-height: 80%;
	width: 48%;
}

.trackDetails {
	width: 100%;
	text-align: left;
}

.songLength {
	float: right;
	margin-right: 10%;
}

/* Get in Touch */

#contactInformation {
	float: left;
	display: inline-block;
	width: 55%;
	font-size: 115%;
	padding: 2% 4%;
	height: 100%;
}

.bookings {
	border: solid 2px #fcd759;
	margin: 0 1%;
	padding: 2%;
	text-align: center;
}	

.centerItem {
	text-align: center;
	max-width: 100%;
}

.centerItem h6 {
	margin: 0.2vw;
}

.nospmismotImage {
	max-width: 60%;
}

/* Styles */

.letterSpacing {
	letter-spacing: 0.2vw;
}

.center {
	text-align: center;
}

/* Headers */

h3 {
	letter-spacing: 0.2vw;
}

/* Colours */

.gold {
	color: #fcd759;
}

.cream {
	color: #fffdd0;
}

.burgundy {
	color: #31151a
}

/* Columns */

.col-1 {
	width: 6vw;
}

.col-2 {
	width: 12vw;
}

.col-3 {
	width: 18vw;
}

.col-4 {
	width: 24vw;
}

.col-5 {
	width: 30vw;
}

.col-6 {
	width: 36vw;
}

.col-7 {
	width: 42vw;
}

.col-8 {
	width: 48vw;
}

.col-9 {
	width: 54vw;
}

.col-10 {
	width: 60vw;
}

/* Padding */

.px-1 {
	padding: 0 .5vw;
}

.px-2 {
	padding: 0 1vw;
}

.px-3 {
	padding: 0 1.5vw;
}

.px-4 {
	padding: 0 2vw;
}

.py-1 {
	padding: .5vw 0;
}

.py-2 {
	padding: 1vw 0;
}

.py-3 {
	padding: 1.5vw 0;
}

.py-4 {
	padding: 2vw 0;
}
/* Margin */

.mAuto {
	margin: auto;
}

/* displays */

.flex {
	display: flex;
}