/* Variables */

$f2: #f2f2f2;
$light-purple: rgba(200,162,200, 0.5);
$dark-purple: rgba(200,162,200, 0.8);
$very-dark-purple: rgb(98, 80, 112);

/* Navigation */

#header {
	background-color: $light-purple;
	min-height: 10%;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	flex-direction: row;
}

.headerContainer {
	display: inline-block;
	vertical-align: middle;
	width: 35%;
	text-align: center;
	height: 20%;
}

.headerContainer img {
	max-width: 20%;
}

#navContainer {
	width: 60%;
}

#navContainer a {
	text-decoration: none;
}

.nameHeader {
	size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	color: $very-dark-purple;
}

#logos {
	margin-top: 5%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0 20%;
}

.logoImg {
	max-height: 100px;
	max-width: 100px;
}

#nav a {
	border-right-color: $very-dark-purple;
	border-right-style: inset;
	border-right-width: 2px;
	color: $very-dark-purple;
	display: inline;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial;
	letter-spacing: 3px;
	margin: 15px 0px 10px 0px;
	padding: 0 2%;	
}

#navlogo {
	float: right;
	padding: 2%;
	position: fixed;
	z-index: 59999;
}

/* Social Icons */

#socialicons {
	padding: 1%;
	margin: 0 3%;
	float: left;
	text-align: center;
	position: fixed;
	width: 6%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	border: 8px rgba(200, 162, 200, 0.5) solid;
	height: 80%;
	justify-content: space-around;
}

#socialicons a div {
	color: #331;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 100%;
}

.rounded-link {
	width: 100%;
	height: 100%;
}

.lastchild {
	border-right: none 0px !important;
}

/* Reusable components*/

body {
	background-color: #f2f2f2;
	background-repeat: repeat;
	/*background-color: rgba(252,238,189, 1);*/
	margin: 0;
	overflow: hidden;
}

.container a {
	color: rgba(0,0,0,0.7);
	font-weight: bold;
	text-decoration: none;
}

.main {
	overflow: hidden;
	margin-top: 8%;
}

.container {
	background-color: $light-purple;
	color: $very-dark-purple;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	height: 80%;
	margin-left: 3%;
	z-index: 1;
	position: absolute;
	overflow: scroll;
	border-bottom: 8px $light-purple solid;
	border-top: 8px $light-purple solid;
	width: 74%;
	padding: 0 4% 0 10%;
}
	
.container h1 {
	padding: 0 	5%;
	text-align: center;
}

.container p {
	font-size: 95%;
}

.text-link {
}

::-webkit-scrollbar {
display: none;
}

/* Home */

#about {
	float: left;
	display: inline-block;
	width: 60%;
	font-size: 115%;
	padding: 2%;
}

#about p {
	font-size: 90%;
}

#about h3 {
	text-align: center;
	margin: 1%;
	color: $f2;
}

#about p {
	display: inline-block;
}

#about .imgbox {
	display: inline-block;
	margin: auto;
	width: 30%;
	height: 35%;
	text-align: center;
	padding: 0 9%;
}

#aboutimages {
	display: inline-block;
	width: 33%;
	height: 33%;	
	float: right;
	margin-top: 3%;
}

.imgbox img {
	max-height: 50%;
	overflow: hidden;
	padding: 2%;
	margin: auto;
	display: block;
}

#theysay p em {
	font-size: 80%;
}

#bookings {
	border: solid 2px $very-dark-purple;
	margin: 0 3%;
	padding: 2%;
	text-align: center;
}

/* Guest Vocalist */

.gvBox {
	height: 100%;
	width: 97%;	
	background-color: #f2f2f2;
	display: inline-block;
	padding: 3%;
	margin: 2%;
	color: $very-dark-purple;
	vertical-align: middle;
	border: solid 3px $very-dark-purple;
}

.gvBox iframe {
	margin: auto;
	display: block;
}

.gvBox a {
	color: $dark-purple;
}

.gvBox iframe {
	width: 80%;
	overflow: hidden;
}
	
.left {
	width: 45%;
	display: inline-block;
	padding: 2%;
	vertical-align: top;
}

.right {
	width: 45%;
	display: inline-block;
	padding: 2%;
	vertical-align: top;
}
/* Model */

.year {
	height: 100%;
	width: 100%;
}

.portfolioBox {
	width: 40%;
	background-color: rgba(242,242,242, 1);
	padding: 1%;
	margin: 1% 3%;
	display: inline-block;
	border-radius: 1%;
	color: #331;
	vertical-align: top;
	border: solid 3px $very-dark-purple;
}

.portfolioBox iframe {
	width: 100%;
	margin: 2%;
}

.portfolioBox img {
	width: 100%;
	margin: 2%;
}

#modelcontent {
	padding: 1% 5%;
	display: inline-block;
}

#modelportfolio {
	padding: 0 3%;
}

#portfolioNavigation {
	margin: 2% 0;
	background-color: #f2f2f2;
	border: solid 3px $very-dark-purple;
	padding: 2%;
	color: #331;
}

#portfolioNavigation a {
	color: $very-dark-purple;
	margin: 5%;
}

#portfolioNavigation h1 {
	display: inline-block;
}

#uglyvideo {
	padding: 1%;
	display: block;
	margin: auto;
}

/* Gallery */

.imageOptions {
	display: inline-block;
}

.imageOptions a {
	color: #f2f2f2;
	width: 100%;
	margin: auto;
	padding: 5%;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}

#imgNavigation {
	margin: 0 10%;
	display: flex;
}

.galCol {
	width: 33%;
	display: inline-block;
	margin: auto;
	vertical-align: top;
}

.galleryimg {
	vertical-align: top;
	align-content: center;
	display: inline-block;
}

.galleryimg img{
	vertical-align: top;
	max-width: 100%;
}

.hideFullImage {
	visibility: hidden;
}

.imgholder {
	border: 10px solid $very-dark-purple;
	width: 70%;
	height: 70%;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	background-color: $dark-purple;
}

#imageBacking {
	background-color: rgba(0,0,0,0.8);
	color: #331;
	width: 100%;
	position: absolute;
	z-index: 10;
	margin: 0;
}

#imgBox {
	margin: auto;
	width: 90%;
	vertical-align: middle;
	padding: 5%;
}	

#imgDetails {
	margin: auto;
	width: 75%;
}

#imgDetails img {
	display: inline-block;
	max-width: 90%;
	max-height: 400px;
}

#closeImage {
	display: inline-block;
	margin: auto;
	padding: 2%;
}

/* Dates */

#datesCalendar {
	margin: 5%;
	padding: 5%;
	width: 40%;
}

/* Blues Band */

#bbContent {
	display: inline-block;
	padding: 2%;
	width: 55%;
	font-size: 90%;
}

#bbIntro {
	padding: 2%;
}

#bbHeader {
	padding: 1%	2%;
	width: 40%;
	margin: 2% auto;
	
}

#bbImages {
	padding: 2%;
}

#bbImages img {
	width: 45%;
}

#theysay {
	float:right;
	display: inline-block;
	width: 38%;
	background-color: $light-purple;
	color: #331;
	padding: 1%;
	font-family: 'Crimson Text', serif;
	margin-top: 4%;
}

.right iframe {
	width: 100%;
	vertical-align: center;
}

/* Music */

.musicVideo {
	display: inline-block;
	width: 45%;
	margin: 2%;
}

.musicVideo iframe {
	margin: auto 10%;
}

#about h6 {
	margin: 0;
	text-align: center;
	font-size: 95%;
}