/* Variables */

$f2: #f2f2f2;
$light-purple: rgba(200,162,200, 0.5);
$dark-purple: rgba(200,162,200, 0.8);
$very-dark-purple: rgb(98, 80, 112);

/* Navigation */

#header {
	background-color: $light-purple;
	border: 8px $light-purple solid;
	min-height: 10%;
	margin: 0;
	position: fixed;
	top: 0;
	width: 100%;
	flex-direction: row;
}

.headerContainer {
	display: inline-block;
	vertical-align: middle;
	width: 24%;
	text-align: center;
	height: 20%;
}

.headerContainer img {
	max-width: 20%;
}

#navContainer {
	width: 75%;
}

#navContainer a {
	text-decoration: none;
}

.nameHeader {
	size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	color: $very-dark-purple;
}

#logos {
	margin-top: 5%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding: 0 20%;
}

.logoImg {
	max-height: 100px;
	max-width: 100px;
}

#nav a {
	border-right-color: $very-dark-purple;
	border-right-style: inset;
	border-right-width: 2px;
	color: $very-dark-purple;
	display: inline;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial;
	letter-spacing: 3px;
	margin: 15px 0px 10px 0px;
	padding: 0 2%;	
}

#navlogo {
	float: right;
	padding: 2%;
	position: fixed;
	z-index: 59999;
}

/* Social Icons */

#socialicons {
	padding: 1%;
	margin: 0 8.5%;
	float: left;
	text-align: center;
	position: fixed;
	width: 6%;
	z-index: 3;
	display: flex;
	flex-direction: column;
	border: 8px rgba(200, 162, 200, 0.5) solid;
	border-right: 5px rgba(200, 162, 200, 0.5) solid;
	height: 76%;
}

#socialicons a div {
	color: #331;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 100%;
}

.rounded-link {
	display: flex;
	align-items: center;
	max-height: 90%;
	max-width: 90%;
	vertical-align: middle;
	padding: 16% 5%;
}

.rounded-link img {
	width: 90%;
}

#facebooksi img {
	border-radius: 15%;
}

.lastchild {
	border-right: none 0px !important;
}

/* Reusable components*/

body {
	background-color: #f2f2f2;
	background-repeat: repeat;
	/*background-color: rgba(252,238,189, 1);*/
	margin: 0;
	overflow: hidden;
	font-family: Arial;
}

.container a {
	color: rgba(0,0,0,0.7);
	font-weight: bold;
	text-decoration: none;
}

.main {
	overflow: hidden;
	margin-top: 8%;
}

.box {
	width: 45%;
	margin: auto;
	padding: 1%;
	display: inline-block;
}

.inline {
	display: inline-block;
}

.right {
	width: 45%;
	display: inline-block;
	padding: 2%;
	vertical-align: top;
}

.container {
	background-color: $light-purple;
	color: $very-dark-purple;
	display: inline-block;
	font-family: Arial;
	margin: 0 8.5%;
	height: 80%;
	z-index: 1;
	overflow: scroll;
	border: 8px $light-purple solid;
	width: 74%;
	padding-left: 8%;
	position: absolute;
	line-height: 20pt;
}
	
.container h1 {
	padding: 0 	5%;
	text-align: center;
}

.container p {
	font-size: 95%;
}

::-webkit-scrollbar {
	display: none;
}

/* News */

#albumDetails {
	border: 3px rgba(200, 162, 200, 0.5) solid;
}

#newAlbum {
	width: 100%;
	margin-bottom: 5%;
}

#newAlbum img {
	height: 100%;
	width: 100%;
}

#albumImage {
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

#albumText {
	width: 100%;
	vertical-align: top;
	margin-left: auto;
	padding: 2%;
	font-size: 90%;
}

#tracklist {
	vertical-align: top;
	padding: 4% 3%;
}

.track {
	width: 80%;
	font-size: 70%;
	padding: 2% 1%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#magIntro {
	display: inline-block;
	text-align: center;
}

#magText {
	display: inline-block;
	width: 43%;
	vertical-align: top;
	padding-left: 5%;
	text-align: left;
}

#magText p {
	margin: 0;
}

#magPhoto {
	display: inline-block;
	max-width: 60%;
	max-height: 80%;
	width: 48%;
}


/* About */

#about p {
	font-size: 90%;
	display: inline-block;
}

#about h3 {
	text-align: center;
	margin: 1%;
	color: $f2;
}

#about .imgbox {
	display: inline-block;
	margin: auto;
	width: 30%;
	height: 35%;
	text-align: center;
	padding: 0 9%;
}

#aboutimages {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 31%;
	padding: 2%;
}

#aboutimages .imgbox {
	margin: 5%;
}

.imgbox img {
	max-height: 100%;
	max-width: 100%;
}

#theysay p em {
	font-size: 80%;
}


/* Guest Vocalist */

.left {
	width: 45%;
	display: inline-block;
	padding: 2%;
	vertical-align: top;
}

.right {
	width: 45%;
	display: inline-block;
	padding: 2%;
	vertical-align: top;
}

.gvBox {
	height: 100%;
	width: 97%;	
	background-color: #f2f2f2;
	display: inline-block;
	padding: 3%;
	margin: 2%;
	color: $very-dark-purple;
	vertical-align: middle;
	border: solid 3px $very-dark-purple;
}

.gvBox iframe {
	margin: auto;
	display: block;
}

.gvBox a {
	color: $dark-purple;
}

.gvBox iframe {
	width: 80%;
	overflow: hidden;
}

.mainContent {
	display: inline-block;
	width: 55%;
	float: left;
	font-size: 115%;
	padding: 2% 4%;
	border-right: 3px rgba(200, 162, 200, 0.5) solid;
}
	
/* Model */

.year {
	height: 100%;
	width: 100%;
}

.portfolioBox {
	width: 40%;
	background-color: rgba(242,242,242, 1);
	padding: 1%;
	margin: 1% 3%;
	display: inline-block;
	border-radius: 1%;
	color: #331;
	vertical-align: top;
	border: solid 3px $very-dark-purple;
}

.portfolioBox iframe {
	width: 100%;
	margin: 2%;
}

.portfolioBox img {
	width: 100%;
	margin: 2%;
}

#modelcontent {
	padding: 1% 5%;
	display: inline-block;
}

#modelportfolio {
	padding: 0 3%;
}

#portfolioNavigation {
	margin: 2% 0;
	background-color: #f2f2f2;
	border: solid 3px $very-dark-purple;
	padding: 2%;
	color: #331;
}

#portfolioNavigation a {
	color: $very-dark-purple;
	margin: 5%;
}

#portfolioNavigation h1 {
	display: inline-block;
}

#uglyvideo {
	padding: 1%;
	display: block;
	margin: auto;
}

/* Gallery */

.imageOptions {
	display: inline-block;
}

.imageOptions a {
	color: #f2f2f2;
	width: 100%;
	margin: auto;
	padding: 5%;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
}

#imgNavigation {
	margin: 0 10%;
	display: flex;
}

#imageDetails {
	position: absolute;
}

#imgControl {
	z-index: 2;
	height: auto;
	position: relative;
	top: -5%;
}

#imageBox {
	position: absolute;
	height: auto;
}

.galCol {
	width: 33%;
	display: inline-block;
	margin: auto;
	vertical-align: top;
}

.galleryimg {
	vertical-align: top;
	align-content: center;
	display: inline-block;
}

.galleryimg img{
	vertical-align: top;
	max-width: 100%;
}

.hideFullImage {
	visibility: hidden;
}

.imgholder {
	border: 10px solid $very-dark-purple;
	width: 70%;
	height: 70%;
	text-align: center;
	margin: auto;
	vertical-align: middle;
	background-color: $dark-purple;
}

#imageBacking {
	background-color: rgba(0,0,0,0.8);
	color: #331;
	width: 100%;
	position: absolute;
	z-index: 10;
	margin: 0;
}

#imgBox {
	margin: auto;
	width: 90%;
	vertical-align: middle;
	padding: 5%;
}	

#imgDetails {
	margin: auto;
	width: 75%;
}

#imgDetails img {
	display: inline-block;
	max-width: 90%;
	max-height: 400px;
}

#closeImage {
	display: inline-block;
	margin: auto;
	padding: 2%;
}

/* Dates */

#datesCalendar {
	margin: 5%;
	padding: 5%;
	width: 40%;
}

/* Blues Band */

#bluesbandleft {
	display: inline-block;
	width: 59%;
	font-size: 90%;
	text-align: center;
}

#bbText {
	text-align: left;
	padding: 4%;
	line-height: 20pt;
}

#bbImages {
	padding: 3%;	
}

#bbImages img {
	width: 45%;	
}

#bbContentRight img{
	max-height: 100%;
	max-width: 100%;
}

#bbHeader {
	padding: 1%	2%;
	width: 40%;
	margin: 2% auto;
}

#bbImages {
	padding: 2%;
	display: flex;
	justify-content: space-between;
}

#bbImages img {
	width:45%;
	height:45%;
}

#bluesbandright {
	padding-top: 4%;
	display: inline-block;
	float: right;
	width: 38%;
	font-family: 'Crimson Text', serif;
	border-left: 3px $dark-purple solid;
}

#bluesbandright h2 {
	text-align: center;
	margin: 0 auto;	
}

#bmName {
	display: inline-block;
	padding: 5% 5% 5% 15%;
}

#bmRole {
	display: inline-block;
	padding: 5%;
}

#theysay {
	display: inline-block;
	background-color: $light-purple;
	color: #331;
	padding: 3%;
}

.right iframe {
	width: 100%;
	vertical-align: center;
}

/* Music */

.musicVideo {
	display: inline-block;
	width: 45%;
	margin: 2%;
	text-align: center;
}

.mVideo {
	margin: auto 10%;
}

#about h6 {
	margin: 0;
	text-align: center;
	font-size: 95%;
}

.trackDetails {
	width: 100%;
	text-align: left;
}

.songLength {
	float: right;
	margin-right: 10%;
}

/* Get in Touch */

#contactInformation {
	float: left;
	display: inline-block;
	width: 55%;
	font-size: 115%;
	padding: 2% 4%;
	height: 100%;
}

.bookings {
	border: solid 2px $very-dark-purple;
	margin: 0 1%;
	padding: 2%;
	text-align: center;
}	

.centerItem {
	text-align: center;
	max-width: 100%;
}

.nospmismotImage {
	max-width: 60%;
}
