<div id="socialicons">
	<a class="rounded-link" href="https://instagram.com/emmawilsonbluesband" target="_blank">
		<div id="instagrami">
			<img src="img/ig.png" />
		</div>
	</a>
	<a class="rounded-link" href="https://soundcloud.com/emmawilsonblues" target="_blank">
		<div id="soundcloudsi">
			<img src="img/sc.png" />
		</div>
	</a>
	<a class="rounded-link" href="https://www.facebook.com/EmmaWilsonBluesBand" target="_blank">
		<div id="facebooksi">
			<img src="img/fb.gif" />
		</div>
	</a>
	<a class="rounded-link" href="https://www.youtube.com/user/emmawilsonbluesband" target="_blank">
		<div id="youtubesi">
			<img src="img/yt.png" />
		</div>
	</a>
	<a class="rounded-link" href="https://twitter.com/emmawilsonsings" target="_blank">
		<div id="twittersi">
			<img src="img/twit.png" />
		</div>
	</a>
</div>