<div id="socialicons">
	<a class="rounded-link" href="https://instagram.com/emmawilsonsingermodel">
		<div id="instagrami">
			<img style="width: 90%;" src="img/ins.jpg" />
		</div>
	</a>
	<a class="rounded-link" href="https://soundcloud.com/emmawilsonblues">
		<div id="soundcloudsi">
			<img style="width: 90%;" src="img/sc.png" />
		</div>
	</a>
	<a class="rounded-link" href="https://www.facebook.com/EmmaWilsonBluesBand">
		<div id="facebooksi">
			<img style="width: 90%;" src="img/fb.png" />
		</div>
	</a>
	<a class="rounded-link" href="https://www.youtube.com/user/emmawilsonbluesband">
		<div id="youtubesi">
			<img style="width: 90%;" src="img/yt.png" />
		</div>
	</a>
	<a class="rounded-link" href="https://twitter.com/emmawilsonsings">
		<div id="twittersi">
			<img style="width: 90%;" src="img/twit.png" />
		</div>
	</a>
</div>